
<!--parallax 1 -->
<section class="bg-1">
 <div class="home-text-bg">
  <h1>QAT On Demand, Quality Assurance Testing when you need it.</h1>
  <p class="lead">We do it all in the world of Quality Assurance. We tailor all of our services to your company's needs. Along with QAT, we provide Scrum & Agile training, QA training, and QA consulting; which focuses in all areas of your company. We also develop websites. Check out all of our services and contact us today!</p>
 </div>
</section>

<!--parallax 1-->
<div class="devices-parallax-desktop">
 <%=image_tag "MiniDeskTop.png" %>
</div>
<div class="devices-parallax-laptop">
  <%=image_tag "MiniLapTop.png" %>
</div>
<div class="devices-parallax-mobile">
	<%=image_tag "s4-mobile.png" %>
</div>
<div class="devices-parallax-mg">
	<%=image_tag "mg.png" %>
</div>
<div class="divider"></div>

<div class="container"> 
  	<div class="row">
  	  <h2 class="lead center">We have a variety of pre-defined QAT packages. Contact us to get started today.</h2>
        <div class="col-md-4">
          <div class="panel panel-default">
            <div class="panel-heading"><h3>IRON PACKAGE</h3></div>
            <div class="panel-body">Price: Call
	            <li>10 hours</li>
		  		<li>Manual / UX testing</li>
				<li>Testing artifacts</li>
				<li>Bug tracking</li>
				<li>All latest browsers</li>
				<li>Select mobile devices</li>
        <li>Native and responsive testing</li>
            </div>
           <a href="/qat_on_demand/qatondemand#"><button class="btn btn-large btn-success" type="button">Get started</button></a> 
          </div>
        </div>
      	<div class="col-md-4">
        	<div class="panel panel-default">
            <div class="panel-heading"><h3>GOLD PACKAGE</h3></div>
            <div class="panel-body">Price: Call
            	<li>10 hours free, 40 hours</li>
				<li>QA consulting</li>
				<li>Manual / UX, automated and security testing</li>
				<li>Testing artifacts & bug tracking</li>
				<li>All specified browsers</li>
				<li>All specified mobile devices</li>
        <li>Native and responsive testing</li>
            </div>
           <a href="/qat_on_demand/qatondemand#"><button class="btn btn-large btn-success" type="button">Get started</button></a>  
          </div>
        </div>

        <!--
      	<div class="col-md-4">
        	<div class="panel panel-default">
            <div class="panel-heading"><h3>DIAMOND PACKAGE</h3></div>
            <div class="panel-body">Price: $1800
            	<li>80 hours</li>
		  		<li>QA consulting</li>
		  	<li>Reports, testing artifacts & bug tracking</li>
				<li>Manual / UX, automated and security testing</li>
				<li>Load and performance testing</li>
				<li>All specified browsers and mobile devices</li>
        <li>Native and responsive testing</li>
            </div>
           <a href="/qat_on_demand/qatondemand#"><button class="btn btn-large btn-success" type="button">Get started</button></a> 
          </div>
        </div>

-->

        <div class="col-md-4">
         <div class="panel panel-default">
           <div class="panel-heading"><h3>CUSTOM PACKAGE</h3></div>
            <div class="panel-body">If you don't see a specfic service or a combination of services listed, contact us. If you just want automation or just manual testing performed, we have a plan for you.  We also test hardware and all types of devices.  There are no limitations to our testing.
            </div>
            <br><br>
           <a href="/qat_on_demand/qatondemand#"><button class="btn btn-large btn-success" type="button">Contact us</button></a> 
          </div>
        </div>

    </div><!--/row-->
  
   
  
</div><!--/container-->

<div class="divider"></div>
  
<section class="bg-2">
 <div class="bg-2">
  <div class="home-text-bg2">
    <h1>What's the quality beat of your organization?</h1>
    <p class="lead">Quality in a company is like instruments in a band. Every instrument must play its part for the music to be successful.  Every team member must be accountable and quality must be present in all phases of the SDLC for a company to sustain in this fast paced industry.</p>
  </div>
 </div>
</section>

<div class="divider"></div>

<div class="container">
  	 <div class="row">
  	   <h2 class="lead center">Scrum, Agile and QA training available. We also develop websites.</h2>
        <div class="col-md-4">
          <div class="panel panel-default">
            <div class="panel-heading"><h3>SCRUM & AGILE TRAINING</h3></div>
            <div class="panel-body">Price: Call - 2 days<br> We provide Scrum and agile training. More and more companies are moving to Scrum and agile software development. To keep up with quick feature releases, you must stay ahead, and implementing Scrum is a way to do that. 
            </div>
            <a href="/qa_evangelist/qaevangelist#"><button class="btn btn-large btn-success" type="button">Learn more</button></a> 
          </div>
        </div>
      	<div class="col-md-4">
        	<div class="panel panel-default">
            <div class="panel-heading"><h3>QA / QAE TRAINING</h3></div>
            <div class="panel-body">Price: Call - 2 days <br> We provide official QAA / QAE training. With over 15 years experience, we provide nothing but the best information and training to help future QAAs / QAEs excel and succeed in this fast paced world of quality assurance / engineering.
            </div>
            <a href="/qa_evangelist/qaevangelist#"><button class="btn btn-large btn-success" type="button">Learn more</button></a> 
          </div>
        </div>
      	<div class="col-md-4">
        	<div class="panel panel-default">
            <div class="panel-heading"><h3>NEED A WEBSITE?</h3></div>
            <div class="panel-body">Price: Call <br>Whether it's a marketing site or a fully functional web app, we've got you covered. You also have the option to meet and interact with us every step of the way during our daily scrum meetings; providing feedback early and often.
            </div>
            <a href="/websites/websites#"><button class="btn btn-large btn-success" type="button">Learn more</button></a> 
          </div>
        </div>
    </div>  
</div><!--/container-->

<div class="divider"></div>

<!--parallax 2 -->
<section class="bg-3">
 <div class="home-text-bg3">	
  <h1>It's not just culture, it's a quality culture.</h1>
  <p class="lead">We are all in quality assurance. From customer interaction, to requirements, to code we implement, to processes, to deployment, to support, to company culture. Each of these areas need quality.</p>
 </div>
</section>
<div class="copyright-footer">
 © Copyright 2014 QAT On Demand, LLC. All Rights Reserved.
</div>
<br>

<!--
	<h1 class="banner-content-top homecarousel-text-opbg">What's the beat of your organization? Quality should be present in all areas of your company, not just testing.</h1>

  	   <h2 class="banner-content-bottom homecarousel-text-opbg" >Quality in a company is like instruments in a band.  Every instrument must play it's part for the band and music to be successful.  The same goes for quality in a company.  Every team member must be accountable and quality must be present in all phases of the SDLC for a company to be truly successful and one that can sustain in this fast paced industry.</h2>

 -->
  	   <div class="home-nav-margin">
  	 	<!--<%=image_tag "qabeat-qat.jpg" %></div>-->
</div>

<!--
   <h1>We do it all in the world of Quality Assurance.  <br>We tailor all of our services to your company's needs.</h1>
    <h2 class="home-h2-text-border" style="margin-left:200px;">From on-demand quality assurance testing, to consulting, to qa culture, we'll change the way you think about quality assurance. Check out all of our services and contact us today!</h2>
     <h1>Quality Assurance Testing (QAT) on demand. <br>Testing when you need it.</h1>
      <h2 class="home-h2-text-border" style="margin-left:200px;">Both onsite and remote options available. There are NO limitations to our testing; software, hardware, all is welcomed.  We have our specific testing frameworks we use, but we can also easily adapt to your company's frameworks; both commercial and proprietary.</h2>
-->

<!--
 <div class="center hero-unit pricing-banner">
  <div class="container">
   <div class="row">
	<div class = "col-sm-4">
     <div class = "marketing-plan iron-plan">
      <h2 class = "marketing-item-banner marketing-banner-h2-text-border">IRON PACKAGE</h2>
       <div class="iron-marketing-package-details-border">
	  	 	<u>PRICE: $</u>
	  	 	<li>10 hours</li>
	  		<li>Manual testing</li>
			<li>Testing artifacts & Bug tracking</li>
			<li>All latest browsers</li>
			<li>Select mobile devices</li>
	 </div>		
  <a href="/qat_on_demand/qatondemand#"><button class="btn btn-large btn-primary" type="button">Learn more</button></a>
 </div>
</div>

<div class="col-sm-4">
 <div class = "marketing-plan gold-plan">
   <h2 class = "marketing-item-banner marketing-banner-h2-text-border">GOLD PACKAGE</h2> 
-->

    <!--<div class = "ribbon">BEST VALUE!</div>-->
 <!--    <div class="gold-marketing-package-details-border">
		    <u>PRICE: $</u>
			<li>10 hours free, 40 hours</li>
			<li>QA consulting</li>
			<li>Manual & Automated testing</li>
			<li>Testing artifacts & Bug tracking</li>
			<li>All latest browsers</li>
			<li>Select mobile devices</li>
     </div>
  <a href="/qat_on_demand/qatondemand#"><button class="btn btn-large btn-primary" type="button">Learn more</button></a>
 </div>
</div>

<div class="col-sm-4">
 <div class = "marketing-plan diamond-plan">
  <h2 class = "marketing-item-banner marketing-banner-h2-text-border">DIAMOND PACKAGE</h2>
   <div class="diamond-marketing-package-details-border">
	  		<u>PRICE: $</u>
	  		<li>80 hours</li>
	  		<li>QA consulting</li>
	  		<li>Reports</li> 
	  		<li>Testing artifacts & Bug tracking</li>
			<li>Manual & automated testing</li>
			<li>Security testing</li>
			<li>Load & performance</li>
			<li>All specified browsers</li>
			<li>All specified mobile devices</li>
   </div>
  <a href="/qat_on_demand/qatondemand#"><button class="btn btn-large btn-primary" type="button">Learn more</button></a>
 </div>
</div>

<!--
<div class = "col-sm-4">
 <div class = "marketing-plan custom-plan">
   <h2 class = "marketing-item-banner marketing-banner-h2-text-border">CUSTOM PACKAGE</h2>
   <div class="custom-marketing-package-details-border">
   	Whether it's consulting, testing, or just automation, we have a plan for you. Contact us and set up a meeting so we can discuss all available options to meet your needs.
   </div>  	
  <a href="/qat_on_demand/qatondemand#"><button class="btn btn-large btn-primary" type="button">Contact Us</button></a>
      </div>
     </div>
    </div>
   </div>
  </div>
 </div>
-->

<script type="text/javascript">
/* jQuery Parallax Plugin */
 
(function($) {
 
    $.fn.parallax = function(options) {
 
        var windowHeight = $(window).height();
 
        // Establish default settings
        var settings = $.extend({
            speed        : 0.15
        }, options);
 
        // Iterate over each object in collection
        return this.each( function() {
 
        	// Save a reference to the element
        	var $this = $(this);
 
        	// Set up Scroll Handler
        	$(document).scroll(function(){
 
    		        var scrollTop = $(window).scrollTop();
            	        var offset = $this.offset().top;
            	        var height = $this.outerHeight();
 
    		// Check if above or below viewport
			if (offset + height <= scrollTop || offset >= scrollTop + windowHeight) {
				return;
			}
 
			var yBgPosition = Math.round((offset - scrollTop) * settings.speed);
 
                 // Apply the Y Background Position to Set the Parallax Effect
    			$this.css('background-position', 'center ' + yBgPosition + 'px');
                
        	});
        });
    }
}(jQuery));

$('.bg-1,.bg-3').parallax({
	speed :	0.35
});

$('.bg-2').parallax({
	speed :	0.25
});
</script>

